* {
  margin: 0px;
  text-decoration: none;
  font-family: 'Dosis', sans-serif;
  font-family: 'Leckerli One', cursive;
  font-family: 'Playfair Display', serif; }

.fondo {
  background-image: url(../images/cupcakes.webp);
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: contain; }

.contenedor {
  width: 90%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: #ffab91ee;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: #00000083 5px 5px; }

h1 {
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  text-shadow: #5e5e5e 2px 2px;
  font-family: 'Dosis', sans-serif;
  font-family: 'Leckerli One', cursive; }

h5 {
  font-size: 30px;
  color: #5e5e5e; }

p {
  font-size: 20px;
  color: #5e5e5e; }

.encabezado {
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #bebadc;
  box-shadow: #00000083 5px 5px; }

.encabezado__contenido {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.contenido__logo1 {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: left; }

.contenido__logo2 {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: right; }

.logo {
  transition: 0.75s;
  width: fit-content; }

.logo:hover {
  transform: scale(1.1); }

.contenido__card {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.card__links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%; }

.links__letras {
  color: #ffffff;
  font-size: 20px;
  transition: 0.5s;
  text-shadow: #5e5e5e 1px 1px; }

.links__letras:hover {
  transform: scale(1.1);
  color: #ffab91; }

.footer {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #bebadc;
  box-shadow: #00000083 5px 0px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.footer__subtitulo {
  color: #ffffff;
  font-size: 30px;
  margin-top: 20px;
  text-decoration: none;
  text-shadow: #5e5e5e 2px 2px;
  transition: 0.5s; }

.footer__subtitulo:hover {
  color: #ffab91; }

.footer__redes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  margin-top: 30px;
  margin-bottom: 30px; }

.ig {
  transition: 0.5s; }

.ig:hover {
  transform: scale(1.1); }

.wp {
  transition: 0.5s; }

.wp:hover {
  transform: scale(1.1); }

.fb {
  transition: 0.5s; }

.fb:hover {
  transform: scale(1.1); }

.logoFooter {
  font-family: 'Dosis', sans-serif;
  font-family: 'Leckerli One', cursive;
  font-size: 40px;
  text-shadow: #5e5e5e 2px 2px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 20px;
  transition: 0.5s; }

.logoFooter:hover {
  color: #ffab91;
  transform: scale(1.1); }

.tituloPrincipal {
  font-size: 50px; }

#imagen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  background-image: url(../images/rosas.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-clip: content-box;
  min-height: 350px;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px; }

.banda {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.subtitulo {
  color: #ffffff;
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 40px;
  text-shadow: #5e5e5e 2px 2px; }

.descripcion {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
  text-shadow: #5e5e5e 1px 1px; }

.botonIndex {
  width: fit-content;
  background-color: transparent;
  border-color: #ffab91;
  border-width: 3px; }

.botonIndex:hover {
  background-color: #ffab91;
  border-color: #ffffff; }

.botonIndex__texto {
  color: #ffffff;
  text-decoration: none;
  text-shadow: #5e5e5e 1px 1px; }

.botonIndex__texto:hover {
  color: #ffffff; }

.acordeon {
  margin-bottom: 20px;
  border-radius: 10px; }

.acordeon__fondo {
  background-color: #bebadc;
  margin-bottom: 5px; }

.acordeon__titulo {
  background-color: #bebadc;
  color: #ffffff;
  font-family: 'Dosis', sans-serif;
  font-family: 'Leckerli One', cursive;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  text-shadow: #5e5e5e 1px 1px; }

.card__productos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 20px;
  border-radius: 10px; }

.card__imagen {
  width: 30%;
  margin: 10px; }

.imagen {
  border-radius: 5px; }

.card__texto {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.card__boton {
  background-color: #ffab91;
  border-color: #ffffff;
  border-width: 3px;
  color: #ffffff;
  font-size: 20px; }

.card__boton:hover {
  background-color: #bebadc;
  border-color: #ffffff;
  color: #ffffff; }

.card__nosotros {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border-style: none;
  margin-bottom: 20px; }

.nosotros__imagen {
  width: 30%; }

.ns__img {
  border-radius: 10px; }

.nosotros__texto {
  width: 70%;
  background-color: #bebadcc7;
  border-radius: 10px;
  margin-left: 10px; }

.ns__txt {
  color: #ffffff;
  font-size: 25px;
  text-shadow: #5e5e5e 1px 1px; }

.carrusel {
  width: 40%; }

.textocolor {
  color: white;
  text-shadow: #5e5e5e 1px 1px; }
