* {
  margin: 0px;
  text-decoration: none;
  font-family: 'Dosis', sans-serif;
  font-family: 'Leckerli One', cursive;
  font-family: 'Playfair Display', serif; }

.fondo {
  background-image: url(../images/cupcakes.webp);
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  overflow-x: hidden; }

.contenedor {
  width: 90%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: #ffab91ee;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: #00000083 5px 5px; }

h1 {
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  text-shadow: #5e5e5e 2px 2px;
  font-family: 'Dosis', sans-serif;
  font-family: 'Leckerli One', cursive; }

h5 {
  font-size: 30px;
  color: #5e5e5e; }

p {
  font-size: 20px;
  color: #5e5e5e; }

.subtitulos {
  color: #ffffff;
  text-shadow: #5e5e5e 2px 2px;
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Dosis', sans-serif;
  font-family: 'Leckerli One', cursive; }

.encabezado {
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #bebadc;
  box-shadow: #00000083 5px 5px; }

.encabezado2 {
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #bebadc;
  box-shadow: #00000083 5px 5px;
  display: none; }

.subencabezado {
  background-color: #bebadc;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.encabezado__contenido {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.contenido__logo1 {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: left; }

.contenido__logo2 {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: right; }

.logo {
  transition: 0.75s;
  width: fit-content; }

.logo:hover {
  transform: scale(1.1); }

.contenido__card {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.card__links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%; }

.links__letras {
  color: #ffffff;
  font-size: 20px;
  transition: 0.5s;
  text-shadow: #5e5e5e 1px 1px; }

.links__letras:hover {
  transform: scale(1.1);
  color: #ffab91; }

.boton-nav {
  background-image: url(../images/menu.png);
  background-position: center;
  background-size: cover; }

.footer {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #bebadc;
  box-shadow: #00000083 5px 0px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.footer__subtitulo {
  color: #ffffff;
  font-size: 30px;
  margin-top: 20px;
  text-decoration: none;
  text-shadow: #5e5e5e 2px 2px;
  transition: 0.5s; }

.footer__subtitulo:hover {
  color: #ffab91; }

.footer__redes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  margin-top: 30px;
  margin-bottom: 30px; }

.ig {
  transition: 0.5s; }

.ig:hover {
  transform: scale(1.1); }

.wp {
  transition: 0.5s; }

.wp:hover {
  transform: scale(1.1); }

.fb {
  transition: 0.5s; }

.fb:hover {
  transform: scale(1.1); }

.logoFooter {
  font-family: 'Dosis', sans-serif;
  font-family: 'Leckerli One', cursive;
  font-size: 40px;
  text-shadow: #5e5e5e 2px 2px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 20px;
  transition: 0.5s; }

.logoFooter:hover {
  color: #ffab91;
  transform: scale(1.1); }

.tituloPrincipal {
  font-size: 50px; }

#imagen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  background-image: url(../images/rosas.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-clip: content-box;
  min-height: 350px;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px; }

.banda {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.subtitulo {
  color: #ffffff;
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 40px;
  text-shadow: #5e5e5e 2px 2px; }

.descripcion {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
  text-shadow: #5e5e5e 1px 1px; }

.botonIndex {
  width: fit-content;
  background-color: transparent;
  border-color: #ffab91;
  border-width: 3px; }

.botonIndex:hover {
  background-color: #ffab91;
  border-color: #ffffff; }

.botonIndex__texto {
  color: #ffffff;
  text-decoration: none;
  text-shadow: #5e5e5e 1px 1px; }

.botonIndex__texto:hover {
  color: #ffffff; }

.subtexto {
  width: 95%;
  margin-bottom: 20px;
  background-color: #fbffc3;
  border-radius: 10px; }

.subtexto__p {
  text-align: justify;
  margin-right: 20px;
  margin-left: 20px;
  color: #5e5e5e;
  padding-top: 20px; }

.subtexto__link {
  color: #5e5e5e;
  text-decoration: underline; }

.subtexto__link:hover {
  color: #bebadc; }

.acordeon {
  margin-bottom: 40px;
  border-radius: 10px; }

.acordeon__fondo {
  background-color: #bebadc;
  margin-bottom: 5px; }

.acordeon__titulo {
  background-color: #bebadc;
  color: #ffffff;
  font-family: 'Dosis', sans-serif;
  font-family: 'Leckerli One', cursive;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  text-shadow: #5e5e5e 1px 1px; }

.card__productos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 20px;
  border-radius: 10px; }

.card__imagen {
  margin: 10px;
  width: 35%; }

.imagen {
  border-radius: 5px; }

.card__texto {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.card__boton {
  background-color: #ffab91;
  border-color: #ffffff;
  border-width: 3px;
  color: #ffffff;
  font-size: 20px;
  width: 880px; }

.card__boton:hover {
  background-color: #bebadc;
  border-color: #ffffff;
  color: #ffffff; }

.card__nosotros {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border-style: none;
  margin-bottom: 20px; }

.nosotros__imagen {
  width: 35%; }

.ns__img {
  border-radius: 10px; }

.nosotros__texto {
  width: 70%;
  background-color: #bebadcc7;
  border-radius: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.ns__txt {
  color: #ffffff;
  font-size: 22px;
  text-align: justify;
  text-shadow: #5e5e5e 1px 1px;
  width: 80%; }

.carrusel {
  width: 40%;
  margin-bottom: 20px; }

.textocolor {
  color: white;
  text-shadow: #5e5e5e 1px 1px; }

.flexE {
  display: flex;
  flex-direction: row; }

.experiencias__imagenes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 25%;
  align-items: center; }

.experiencias__video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 20px; }

.contacto__texto {
  color: #ffffff;
  margin-left: 20px;
  margin-right: 20px;
  text-shadow: #5e5e5e 1px 1px;
  background-color: #bebadcc7;
  border-radius: 10px;
  font-size: 20px;
  padding: 20px;
  border-color: #ffffff;
  border-style: solid;
  border-width: 2.5px; }

.div__contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px; }

.section__contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 300px; }

.contacto__redes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  text-shadow: #5e5e5e 1px 1px; }

.redes__texto {
  color: #ffffff;
  font-size: 22px;
  text-decoration: none;
  transition: 0.5s; }

.redes__texto:hover {
  color: #bebadc;
  text-decoration: underline; }

.contacto__ubicacion {
  border-radius: 10px;
  margin-bottom: 30px; }

@media (max-width: 1300px) {
  .card__productos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
  .card__boton {
    width: 100%; } }

@media (max-width: 991px) {
  .encabezado {
    display: none; }
  .encabezado2 {
    display: flex; }
  .card__links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
  .links__letras {
    margin-bottom: 20px; }
  .contenedor {
    width: 100%; }
  .card__nosotros {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
  .nosotros__imagen {
    width: 60%; }
  .ns__img {
    margin-bottom: 20px; }
  .nosotros__texto {
    width: 90%;
    margin-left: 0; }
  .ns__txt {
    margin-bottom: 20px; }
  .card__productos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
  .card__boton {
    width: 100%; } }

@media (max-width: 760px) {
  .experiencias__imagenes {
    display: none; }
  .carrusel {
    width: 90%; }
  .section__contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%; }
  .contacto__redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px; }
  .redes__texto {
    display: none; }
  .card__imagen {
    width: 60%; } }
